a
{
	display:block;
	text-decoration:none;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:16px;
	padding-right:8px;
	color:white;
}
.sidenav
{
	height:100%;
	width:160px;
	padding-top:20px;
	background-color:green;
	position:fixed;
}
.sidenav a:hover
{
	color:red;
}
.main
{
	position:fixed;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
	left:200px;
	height:2000px;
}
